<div class="catalog-outer">
    <div class="catalog-view">
        <div class="text-center">
            <div class="view-outter text-center">
                <app-catalog-view [catalog]="this.catalogSelected"></app-catalog-view>
            </div>
        </div>
    </div>
    <div class="catalog-items">
        <div class="previous" >
            <img src="../../../assets/icons/left-icon.png" (click)="previousClick()">
        </div>
        <div class="next" >
            <img src="../../../assets/icons/right_icon.png" (click)="nextClick()">
        </div>
        <app-catalog-items [items] = "this.catalogs" [currentIndex]="this.currentIndex"></app-catalog-items>
    </div>
    
     <div class="slide-input">
        <input type="checkbox"  class="test" id="slide"> Slide
    </div>
</div>
