.thumb-outer {
    padding: 5px;
    border: 1px solid #e0e0e0;
    position: relative;
    display: inline-block;
    border-bottom: none;
    width: 100px;
    text-align: center;
}

.thumb {
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    border-color: #f0f0f0!important;
    border-right: none!important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: none;
    cursor: pointer;
}

.thumb-outer:hover {
    /*border: 2px solid #2874f0 !important;*/
}
